#!/bin/bash
bg() {
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin bg %-
    else
        builtin bg %"$@"
    fi
}
fg() {
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin fg %-
    else
        builtin fg %"$@"
    fi
}
command_exists () {
    type "$1" &> /dev/null ;
}
findListeningPort() {
    theCmd=$(sudo netstat -tulpn | grep $1)
    if [ $? -eq 0 ] && [ -n $theCmd ]; then
        echo $theCmd 
    else
        echo "Nothing listening on $1"
    fi
}
tmuxattach() {
    tmux attach-session -t $1
}
tmuxDefaultJoin() {
    if tmux ls 2>&1 | grep -iE '(failed|no server)'; then
        tmux new -s aaron
    else
        tmux attach-session -t aaron
    fi
}
sourceFiles() {
    if [[ $SHELL == *"zsh"* ]]; then
        source ~/.zshrc
    elif [ $SHELL == "bin/bash" ]; then
        source ~/.bashrc
    fi
}
if command_exists gls ; then
    alias ls='gls --color=auto' #use ls from homebrewe install of coreutils if available
fi
alias cl="clear"
alias ll="ls -lah --color=auto"
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'
alias lol='ll $(find . -maxdepth 1 -type l -print)'
alias sourceme=sourceFiles
alias tmux="tmux -2"
alias joinme=tmuxDefaultJoin
alias leave="tmux detach"
alias gitlog="git log --oneline --abbrev-commit --all --graph --decorate --color"
alias ssh='ssh -o ServerAliveInterval=30 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no '
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias whatip="ip addr | grep inet | grep -v inet6 | grep -Ev '\slo' | cut -d ' ' -f6 | cut -d '/' -f1"
alias dirs="ls -aldh .*/ */"
alias tmuxa=tmuxattach
alias dirs="ls -lah | grep '^d'"
alias vi="vim"
alias realjava="sudo ps aux | grep java | grep -vE '(eclipse|grep)'"
alias netrestart="sudo ifdown eth0 && sudo ifup eth0"
alias fport="findListeningPort"
alias dotfiles="find . -maxdepth 1 -type f | cut -d '/' -f2- | grep -iE '^\.' | xargs ls -lah --color=auto"
