export EDITOR='vim'
export LC_ALL="en_US.UTF-8"
export LANG='en_US.UTF-8'
LS_COLORS="ow=01;92:di=01;92"
export LS_COLORS
export TERM="xterm-256color"
export ENHANCED_PROMPT=true
export GIT_PROMPT_ON=true
export GIT_PROMPT_DETAILED=true
export PATH=$PATH:/usr/local/node/bin

export NVM_DIR="/home/$(whoami)/.nvm"

[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  

[[ -s "/home/$(whoami)/.gvm/scripts/gvm" ]] && source "/home/$(whoami)/.gvm/scripts/gvm"
export PATH=$PATH:/usr/local/node/bin
