"*":
  "api-workbench": {}
  core:
    disabledPackages: [
      "linter-jscs"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "52481261-8251-29dc-4862-f1a0a6a91517"
  "linter-jscs":
    configPath: ".jscsrc"
  "tree-view": {}
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    showInvisibles: true
    tabLength: 4
